  <div class="submit-post-form">
    <div class="form">
      <h2>Submit an Article</h2>
      <div class="form-element">
        <label for="title">Post Title</label>
        <input type="text" name="title" placeholder="Enter post title">
      </div>
      <div class="form-element">
        <label for="author">Post Author</label>
        <input type="text" name="author" placeholder="Enter post's authors name">
      </div>
      <div class="form-element">
        <label for="description">Post Description</label>
        <textarea name="description" placeholder="Short description of your post"></textarea>
      </div>
      <div class="form-element">
        <label for="input-message">Post</label>
        <textarea placeholder="Type your post here"></textarea>
      </div>
      <div class="form-element">
        <button>Submit Post</button>
      </div>
    </div>
  </div>