<div class="nav-wrap">
    <nav>
      <div class="container">
        <h1>Still <span>Not</span> Finished</h1>
    
        <div class="menu">
          <a href="/">Home</a>  
          <a href="./help">Help</a> 
          <a href="./about">About</a>
          <a href="./signIn">Sign In</a>
        </div>
    
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
  
    <nav class="mobile-nav">
      <a href="/">Home</a>
      <a href="./help">Help</a>
      <a href="./about">About</a>
      <a href="./signIn">Sign In</a>
    </nav>
  </div>