<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Still Not Finished</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
</head>
<body class="index">
  {{>nav}}
  <main>
    <section class="slide-wrap">
      <header class="header">
        <h1 class="header__title">FEATURED<span>ARTICLES</span></h1>
      </header>
  
      <div class="featured">
        <div class="slider">
          <div class="slider__btns">
            <div class="slider__btn" id="prev">&lt;</div>
            <div class="slider__btn" id="next">&gt;</div>
          </div>
        </div>
      </div>      
      <div class="slide-footer">
      </div>
    </section>
    
    <section class="blog-wrap" id="blog">
      <h1 class="header__title">RECENT<span>POSTS</span></h1>
      <div class="blog-post">
        <div class="blog-post__img">
          <img src="./assets/images/articles/life-goes-on.jpg" alt="">
        </div>
        <div class="blog-post__info">
          <h1 class="blog-post__title">How Problem Solving Court Saved My Life</h1>
          <div class="blog-post__author">Cameron Montgomery</div>
          <p class="blog-post__text">How being sentenced to Veterans Treatment Court was the only thing that saved someone on a self destructive spiral from death</p>
          <a href="./vtc.html" class="blog-post__btn">Read More</a>
        </div> 
      </div>
      <div class="blog-post">
        <div class="blog-post__img">
          <img src="./assets/images/articles/photo-bounce.jpg" alt="">
        </div>
        <div class="blog-post__info">
          <h1 class="blog-post__title">A New Lens on Life</h1>
          <div class="blog-post__author">Brian Johnson</div>
          <p class="blog-post__text">After returning from Iraq, Brian suffered traumatic brain injury and PTSD which led to multiple suicide attempts. But, he found a way out of the darkness using photography.</p>
          <a href="./phototherapy.html" class="blog-post__btn">Read More</a>
        </div>
      </div>
      <div class="blog-post">
        <div class="blog-post__img">
          <img src="./assets/images/articles/pillars.jpg" alt="">
        </div>
        <div class="blog-post__info">
          <h1 class="blog-post__title">6 Pillars of Veteran Recovery</h1>
          <div class="blog-post__author">Brian Johnson</div>
          <p class="blog-post__text">One night I spend several hours discussing military life one night with a Vietnam Veteran. That night he said something that I will never forget “it is easier to make a warrior out of a civilian than it is to make a civilian out of a warrior.</p>
          <a href="./pillars.html" class="blog-post__btn">Read More</a>
        </div>
      </div>
      <div class="blog-post">
        <div class="blog-post__img">
          <img src="./assets/images/articles/top-of-mountain.jpg" alt="">
        </div>
        <div class="blog-post__info">
          <h1 class="blog-post__title">7 Ways to Help Reintegrate After Incarceration</h1>
          <div class="blog-post__author">Joe Shmo</div>
          <p class="blog-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est corrupti sint totam sed doloremque! Pariatur, earum. Deserunt sunt rem minima reiciendis nulla aperiam repellat tenetur? Aliquid aliquam doloribus labore dolor!</p>
          <a href="./phototherapy.html" class="blog-post__btn">Read More</a>
        </div>
      </div>
      <div class="blog-post">
        <div class="blog-post__img">
          <img src="./assets/images/articles/better-ahead.jpg" alt="">
        </div>
        <div class="blog-post__info">
          <h1 class="blog-post__title">Recovery Rocks</h1>
          <div class="blog-post__author">Joe Shmo</div>
          <p class="blog-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est corrupti sint totam sed doloremque! Pariatur, earum. Deserunt sunt rem minima reiciendis nulla aperiam repellat tenetur? Aliquid aliquam doloribus labore dolor!</p>
          <a href="./vtc.html" class="blog-post__btn">Read More</a>
        </div>
      </div>
    </section>
  </main>
{{>footer}}

  <script src="./js/app.js"></script>
</body>
</html>