<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Still Not Finished | Member Sign Up</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body class="signup-body">
  {{>nav}}
  <form action="/users" method="post">
    <div class="signup-form">
      <div class="form">
        <h2>Register</h2>
        <div class="form-element">
          <label for="firstName">First Name</label>
          <input required type="text" name="firstName">
        </div>
        <div class="form-element">
          <label for="lastName">Last Name</label>
          <input required type="text" name="lastName">
        </div>
        <div class="form-element">
          <label for="email">Email</label>
          <input required type="email" name="email">
        </div>
        <div class="form-element">
          <label for="password">Password</label>
          <p id="passwordReqText">Please provide 6-20 upper & lowercase characters with numbers</p>
          <input type="password" name="password" id="passwordInput" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$">
        </div>

        <div>
          <input type="checkbox" onclick="showPassword()">Show Password
        </div>
        <div class="form-element">
          <button id="signup-btn" type="submit">Sign Up</button>
        </div>
        <div class="form-element">
          <a href="./signIn">Already a member? Sign In</a>
        </div>
      </div>
    </div>
  </form>
<script src="./js/signUp.js"></script>
</body>
</html>