<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Still Not Finished | Sign In</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body class="signin-body">
  <%- include('../partials/nav.ejs') %>
  <form action="/users/login" method="post">
    <div class="signin-form">
      <div class="form">
        <h2>Log in</h2>
        <div class="form-element">
          <label for="email">Email</label>
          <input type="text" name="email" id="email">
        </div>
        <div class="form-element">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </div>
        <div class="form-element">
          <input type="checkbox" id="remember-me">
          <label for="remember-me">Remember Me</label>
        </div>
        <div class="form-element">
          <button id=signin-btn>Sign In</button>
        </div>
        <div class="form-element">
          <a href="./signUp">Not a Member? Sign up</a>
        </div>
      </div>
    </div>
  </form>
<script src="./js/signIn.js"></script>
</body>
</html>