@font-face {
  font-family: scratch;
  src: url(./assets/Martyric.ttf);
}

:root {
  --lt-primary: #223ccf;
  --lt-light: #0683d7;
  --lt-dark: #111566;
  --lt-highlight: #ed3d46;
  --lt-accent: #8d3fd0;
  --black: #171717;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}

body.index {
  background-color: var(--black);
}
/* Styling below is for Nav and mobile nav */
.container {
  max-width: 1600px;
  width:100%;
  margin: 0 auto;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--lt-dark);
  padding: 8px 32px 8px 18px;
  border-bottom: 3px solid var(--lt-highlight);
}

 nav h1 {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2px;
}

nav h1 span {
  font-family: scratch, sans-serif;
  font-size: 25px;
  padding: 0 10px 0 10px;
  color: var(--lt-highlight);
}

.hamburger {
  display: block;
  position: relative;
  z-index: 99;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background:none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: var(--white);
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;

  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--lt-highlight);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px,3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
  background-color: var(--lt-highlight);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: var(--lt-dark);
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1b2172;
  border-radius: 14px;

  color:var(--white);
  text-decoration: none;
}

.mobile-nav a.is-active, .mobile-nav a:hover {
  background-color: var(--lt-highlight);
}

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0px -16px;
}

.menu a {
  color: var(--white);
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}

.menu a.is-active, .menu a:hover {
  background-color: var(--lt-highlight);
}

@media (min-width: 788px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
}

@media (max-width: 414px) {
  nav h1, nav h1 span {
    font-size: 18px;
    padding: 5px
  }
}

/* Styling for Login signin-form */
.signin-body,
.signup-body,
.submit-post-form {
  background-color: var(--black);
}

.signin-form,
.signup-form {
  position:absolute;
  top: 500px;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: var(--white);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.submit-post-form {
  position: relative;
  top: 500px;
  left: 50%;
  opacity: 1;
  margin: 80px 0 300px 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 60%;
  max-width: 850px;
  padding: 20px 30px;
  background: var(--white);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.signin-form .form h2,
.signup-form .form h2,
.submit-post-form .form h2 {
  text-align: center;
  color: var(--black);
  margin: 10px 0px 20px;
  font-size: 25px;
}

.signin-form .form .form-element,
.signup-form .form .form-element,
.submit-post-form .form .form-element {
  margin: 15px 0px;
}

.signin-form .form .form-element label,
.signup-form .form .form-element label,
.submit-post-form .form .form-element label {
  font-size: 14px;
  color: var(--black);
}

.signin-form .form .form-element input[type="email"],
.signup-form .form .form-element input[type="email"],
.signin-form .form .form-element input[type="text"],
.signin-form .form .form-element input[type="password"],
.signup-form .form .form-element input[type="text"],
.signup-form .form .form-element input[type="password"],
.submit-post-form .form .form-element input[type="text"],
.submit-post-form .form .form-element textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#passwordInput:focus:invalid {
  border: 2px solid red;
}

#passwordInput:focus:valid {
  border: 2px solid rgb(11, 211, 21);
}

#passwordReqText {
  font-size: 9px;
}

.submit-post-form .form .form-element textarea {
  height: 200px;
}

.signin-form .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}

.signin-form .form .form-element button,
.signup-form .form .form-element button,
.submit-post-form .form .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: var(--lt-highlight);
  color: var(--white);
  cursor: pointer;
  border-radius: 10px;
}

.signin-form .form .form-element a,
.signup-form .form .form-element a,
.submit-post-form .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 500;
}

/* CSS below is for slider */




.slide-wrap {
  width: 100vw;
  height: 500px;
  background-color: var(--black);
  display: flex;
  position: relative;
  top: 55px;
  flex-flow: column;
}
.slide-wrap .header {
  width: 100%;
  height: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black)
}
.slide-wrap .header__title {
  color: var(--lt-highlight);
  font-size: 28px;
  font-weight: 700;
}
.slide-wrap .header__title span {
  font-weight: 300;
  color:var(--white);
}

.featured {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.featured .slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 1000px;
}
.featured .slider__slide {
  position: absolute;
  transform: translateY(-100%);
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s linear;
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
}
.featured .slider__slide .slider__content {
  position: absolute;
  width: 100%;
  max-width: 600px;
  bottom: 0px;
  padding: 15px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  transition: transform 0.2s linear 0.5s;
  transform: translateX(-100%);
  color: var(--white);
}
@media screen and (min-width: 600px) {
  .featured .slider__slide .slider__content {
    border-radius: 0px 50px 0px 0px;
  }
}
.featured .slider__slide .slider__content .slider__title span {
  display: block;
  font-weight: 500;
  color: var(--lt-highlight);
}
.featured .slider__slide.active {
  opacity: 1;
  transform: translateY(0%);
}
.featured .slider__slide.active .slider__content {
  transform: translateX(0%);
}
.featured .slider__btns {
  position: absolute;
  z-index: 97;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.featured .slider__btns .slider__btn {
  width: 35px;
  height: 35px;
  color: var(--lt-highlight);
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  font-weight: 300;
  border-radius: 50%;
  background: none;
  border: 1px solid var(--lt-highlight);
  cursor: pointer;
  transition: background 0.2s linear, color 0.2s ease-out;
}
.featured .slider__btns .slider__btn:hover {
  background: var(--lt-highlight);
  color: var(--black);
}

.slide-footer {
  width: 100%;
  height: 30px;   
  background: var(--black);
  position: relative;
}

@media (max-width: 414px) {
  .slide-wrap {
   top: 53px;
  }
}

@media (min-width: 414px) {
  .slide-wrap {
   top: 59px;
  }
}

@media (max-width: 313px) {
  nav {
    position: relative;
  }

  .slide-wrap {
    top: 0;
   }
}

/* field separation */

/* blog cards styling */


.blog-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.blog-wrap .header__title {
  color: var(--lt-highlight);
  font-size: 28px;
  font-weight: 700;
}
.blog-wrap .header__title span {
  font-weight: 300;
  color: var(--white);
}

.blog-post {
  width: 70%;
  max-width: 980px;
  margin: 25px 50px;
  padding: 15px 40px;
  background-color: var(--white);
  box-shadow: 0 14px 80px rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.blog-post__img {
  min-width: 350px;
  max-width: 350px;
  height: 200px;
  transform: translateX(-80px);
  position: relative;
  box-shadow: 0 14px 80px rgba(0,0,0,.2);
}

.blog-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 8px;
}

.blog-post__title {
  margin: 10px 0 5px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.blog-post__author {
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--lt-highlight);
}

.blog-post__date {
  margin: 0 0 15px 0;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.blog-post__text {
  margin-bottom: 30px;
  font-size: 15px;
  color: rgba(0,0,0,.7)
}

.blog-post__btn {
  display: inline-block;
  padding: 10px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  color:var(--white);
  background-color: var(--lt-highlight);
  border-radius: 6px;
  text-decoration: none;
  transition: .1s;
}

.blog-post__btn:hover {
  font-size: 16.5px;
}

@media screen and (max-width: 1068px) {
  .blog-post {
    max-width: 800px;
  }

  .blog-post__img {
    min-width: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .blog-post {
    padding: 25px;
    flex-direction: column;
    margin-top: 60px;
  }

  .blog-post__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -50px);
  }
}

/* Footer Styling */

.footer-wrap {
  border-top: 1px solid var(--lt-highlight);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  margin-top: 50px;
  max-height: 200px;
}

.footer-title {
  margin-top: 10px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.footer-social img{
  width: 35px;
  height: auto;
}

.footer-instagram, .footer-facebook {
  padding: 10px;
}

/* Article styling */


.post-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 100px;
}

article .post-header {
  display: flex;
  flex-direction: column;
}

.post-header h1 {
  margin: 5px;
  font-size: 28px;
}

.post-header h2 {
  margin: 5px;
  font-size: 20px;
}

article .post-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

article img {
  max-width: 600px;
  margin-bottom: 20px;
  box-shadow: 0 18px 30px rgba(0,0,0,.8);
  border-radius: 20px;
}

article .post-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0;
  padding: 20px 0px 20px 0;
  max-width: 700px;
  border-top: 2px solid var(--lt-highlight);
  border-bottom: 2px solid var(--lt-highlight)
}

article .post-main h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}

article .post-main p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 5px;
}


/* Template view page default styling */
.page-body {
  background-color: black;
}

.page-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}

.page-wrap {
  max-width: 375px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.body-about {
  background-color: black;
}

/* about page styling */
.about-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}

.about-wrap {
  max-width: 375px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-wrap img {
  position: relative;
  right: 15px;
  width: 400px;
}

.about-wrap h2 {
  margin: 20px;
  border-bottom: 1px solid var(--lt-highlight);
}

.about-wrap h2 span{
  position: relative;
  font-family: scratch, sans-serif;
  font-size: 25px;
  padding: 0 10px 0 5px;
  color: var(--lt-highlight);
  bottom: 8px;
}

.about-wrap p {
  text-align:justify;
  padding: 10px;
}